RewriteEngine On

# Servir directement les fichiers statiques du dossier dist/assets
RewriteRule ^assets/(.*)$ dist/assets/$1 [L]

# Pour toutes les autres requêtes, rediriger vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

Allow from all
Satisfy any