RewriteEngine On

# Obtenir le chemin de base en utilisant REQUEST_URI
RewriteCond %{REQUEST_URI} ^(.+)/admin/.*$
RewriteRule ^ - [E=BASE_PATH:%1]

# Ne pas appliquer la réécriture aux fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php [L,QSA]

Allow from all
Satisfy any
